.multiselect-wrapper {
  width: 400px;
  position: relative;
  height: 100%;
}
.multiselect-wrapper.is-active {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}
.multiselect-control {
  border: 1px solid #e0e0e0;
  padding: 6px 25px 0px 6px;
  background-color: #fff;
  min-height: 45px;
  position: relative;
}
.multiselect-remove-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
}
.multiselect-arrow-icon {
  position: absolute;
  right: 10px;
  top: 20px;
  transform: translateY(-50%);
  color: #8c8c8c;
  font-size: 14px;
}
.multiselect-placeholder {
  color: #666;
  line-height: 34px;
}
.multiselect-placeholder.is-hidden {
  display: none;
}
.multiselect-search-area {
  line-height: 45px;
  padding: 0 30px 0 15px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.multiselect-search-input {
  background: 0px center;
  border: 0px;
  font-size: inherit;
  opacity: 1;
  outline: 0px;
  padding: 0px;
  width: 100%;
}
.multiselect-search-icon {
  color: #8c8c8c;
  position: absolute;
  right: 15px;
  top: 15px;
}
.multiselect-result-area {
  position: absolute;
  height: 300px;
  min-width: 250px;
  width: 100%;
  z-index: 1030;
  border: 1px solid #e0e0e0;
  border-top: none;
  background-color: #fff;
  display: none;
  overflow-y: scroll;
}
.multiselect-result-area.is-active {
  display: block;
}
.multiselect-choices {
  list-style: none;
  padding-left: 0;
}
.multiselect-choices-item {
  display: inline-block;
  border-radius: 2px;
  background-color: #daf2fc;
  color: #06aae0;
  margin-right: 5px;
  padding: 8px 9px;
  margin: 0 5px 5px 0;
  border: 1px solid #cef0ff;
  line-height: 1;
}
.multiselect-results-item {
  line-height: 45px;
}
.multiselect-results-item:hover {
  background-color: #f8f8f8;
}
.multiselect-results-item + .multiselect-results-item {
  border-top: 1px solid #e0e0e0;
}
.multiselect-results-item.is-active {
  background-color: #f2fafd;
  border: 1px solid #c7e2ec;
  margin: 0 -1px;
}
.multiselect-results-item.is-active:first-child {
  border-top: none;
}
.multiselect-results-item.is-active:last-child {
  margin-bottom: -1px;
}
.multiselect-results-item.is-active + .multiselect-results-item {
  border-top: none;
}
.multiselect-results-item.is-highlighted {
  background-color: #f8f8f8;
}
.custom-checkbox {
  display: none;
}
.custom-checkbox-label {
  position: relative;
  padding: 0 0 0 45px;
  display: block;
  cursor: pointer;
}
.custom-checkbox-label::before {
  font-family: FontAwesome;
  width: 16px;
  height: 16px;
  content: "";
  position: absolute;
  left: 14px;
  top: 14px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
}
.custom-checkbox:checked + .custom-checkbox-label::before {
  content: "\f00c";
  background-color: #00a9df;
  color: #fff;
  border-color: #018bb9;
}
