.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 60px);
  background: #f7f7f7;
  &__text {
    text-align: center;
  }
  &__img {
    display: flex;
    justify-content: center;
  }
}
