.nav {
  &__container {
    background: #2b4050;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    // width: 100%;
  }
  &__brand {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
  }
  &__right {
    font-size: 1rem;
  }
  &__item--wrapper {
    margin: revert;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__item {
    list-style: none;
  }
  &__link {
    text-decoration: none;
    color: white;
    white-space: nowrap;

    &:hover {
      color: #1dc524;
    }
    &--active {
      color: #1dc524 !important;
    }
  }
}
